/*Varaible*/
$primary-blue: #0088C8;
$secondar-blue: #05A7E9;
$white: #FFFFFF;
$searchbox-gray: rgba(0, 0, 0, 0.38);
$header-color: rgba(0, 0, 0, 0.871);
$content-outerborder-gray: rgba(0, 0, 0, 0.122);
$content-color: rgba(0, 0, 0, 0.741);
$content-splitline: #E4E4E4;
$link-color: #0C98F5;
$green: #33A852;