<div class="content-margin-left">
  <div class="page-heading">
    Search
  </div>
  <div class="search-form">
    <form [formGroup]="searchFrom" fxLayout="row" fxLayoutGap="25px" fxLayout.xs="column">
    <mat-form-field class="search-box" appearance="outline">
        <input matInput placeholder="Group Name" formControlName="groupName" autocomplete="off">
      </mat-form-field>
    
      <mat-form-field class="search-box" appearance="outline">
        <input matInput placeholder="Group ID" formControlName="groupId" autocomplete="off">
      </mat-form-field>  
      <mat-form-field class="search-box" appearance="outline">
        <input matInput placeholder="Subgroup ID" formControlName="subgroupId" autocomplete="off">
      </mat-form-field>  
    </form>  
  </div>
  <div class="seach-button" fxLayout="row" fxLayoutGap="25px" fxLayout.xs="column">
    <button mat-flat-button color="primary" (click)="search()">
      <mat-icon>search</mat-icon> SEARCH
    </button>
    <button mat-stroked-button color="primary" (click)="reset()">
      CLEAR ALL
    </button>
  </div>
</div>

<div class="crm-data-table search-result-table content-margin">
  <table mat-table [dataSource]="dataSource">

    <!-- Group ID Column -->
    <ng-container matColumnDef="groupId">
      <th mat-header-cell *matHeaderCellDef> Group ID </th>
      <td mat-cell *matCellDef="let element">
        {{element.groupId}}
      </td>
    </ng-container>

     <!-- Group Name  Column -->
     <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef> Group Name </th>
      <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
    </ng-container>

    <!-- subgroupId Column -->
    <ng-container matColumnDef="subGroupId">
      <th mat-header-cell *matHeaderCellDef> Subgroup Id </th>
      <td mat-cell *matCellDef="let element"> 
        <a mat-stroked-button class="nagivation-link" [routerLink]="['billing-group', element.subGroupName, element.groupId, element.subGroupId, element.planNumber]">{{element.subGroupId}} </a>
      </td>
    </ng-container>

    <!--Subgroup Name Column -->
    <ng-container matColumnDef="subGroupName">
      <th mat-header-cell *matHeaderCellDef>Subgroup Name </th>
      <td mat-cell *matCellDef="let element">
        <a mat-stroked-button class="nagivation-link" [routerLink]="['billing-group', element.subGroupName, element.groupId, element.subGroupId, element.planNumber]"> {{element.subGroupName}} </a>
      </td>
    </ng-container>

     <!-- Termination Date Column -->
     <ng-container matColumnDef="effectiveDate">
      <th mat-header-cell *matHeaderCellDef> Effective Date </th>
      <td mat-cell *matCellDef="let element"> {{element.effectiveDate}} </td>
    </ng-container>

    <!-- Termination Date Column -->
    <ng-container matColumnDef="terminationDate">
      <th mat-header-cell *matHeaderCellDef> Termination Date </th>
      <td mat-cell *matCellDef="let element"> {{element.terminationDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
